@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

.footer {
  border-top: 1px solid #e5e5e5;
  padding: 20px 0;
  text-align: center;
}





// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@media screen and (max-width: 992px) {
  .home {
    text-align: center;
  }
}

.home-logo {
  img{
    width: 42px;
    height: 42px;
    margin-top:3px;
  }
}

.home-page-cover {
  background-image: url(http://7xjz3m.com1.z0.glb.clouddn.com/14.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  height:360px;
  margin-top: -20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1300px) {
  .home-page-cover {
    background-image: url(http://7xjz3m.com1.z0.glb.clouddn.com/14.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height:560px;
    margin-top: -20px;
    margin-bottom: 20px;
  }
}

.page-heading {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 30px;
}
.post {
  margin-bottom: 30px;
}
.post-header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.post-meta {
  margin-bottom: 0;
}
.post-title {
  font-size: 28px;
  margin-top: 0;
}

.post-main {
  margin:0 auto;
  &.col-md-8 {
    float:none;
  }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
